doctype html
html(lang='en')
  head
    title Library Manager
    link(rel="stylesheet", href="../stylesheets/style.css")
  nav
    ul
      li 
        a(href="/books/all") Books
      li
        a(href="/patrons/all") Patrons
      li
        a(href="/loans/all") Loans
  body
    block content
